@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  @apply bg-transparent w-2;
}

*::-webkit-scrollbar-thumb {
  @apply bg-secondary-dark rounded-full;
}

.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}

.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  @apply bg-secondary-border;
}
